video::-webkit-media-controls {
  display: none;
}
html,
body {
  padding: 0;
  margin: 0;
}
#incoming-video-stream {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#outgoing-video-stream {
  position: absolute;
  width: 30%;
  max-width: 30%;
  object-fit: cover;
  margin: 16px;
  border-radius: 16px;
  bottom: 0;
  right: 0;
}
