<p>
    Everyone should care about privacy and security of their communications &mdash;
    harmless conversations can put you in danger, even if you have nothing to hide.
</p>
<p>
    One of the most shocking stories is the experience of
    <a href="https://en.wikipedia.org/wiki/Mohamedou_Ould_Slahi" target="_blank">Mohamedou Ould Salahi</a>
    described in his memoir and shown in The Mauritanian movie.
    He was put into Guantanamo camp, without trial, and was tortured there for 15 years
    after a phone call to his relative in Afghanistan, under suspicion of being involved
    in 9/11 attacks, even though he lived in Germany for the previous 10 years.
</p>
<p>
    Ordinary people get arrested for what they share online, even via their "anonymous" accounts,
    <a href="https://www.dailymail.co.uk/news/article-11282263/Moment-police-swoop-house-devout-catholic-mother-malicious-online-posts.html" target="_blank">even in democratic countries</a>.
</p>
<p>
    It is not enough to use an end-to-end encrypted messenger,
    we all should use the messengers that protect the privacy of our personal networks &mdash; who we are connected with.
</p>
