<p>
    Many large companies use information about who you are connected with to estimate your income,
    sell you the products you don't really need, and to determine the prices.
</p>
<p>
    Online retailers know that people with lower incomes are more likely to make urgent purchases,
    so they may charge higher prices or remove discounts.
</p>
<p>
    Some financial and insurance companies use social graphs
    to determine interest rates and premiums.
    It often makes people with lower incomes pay more &mdash;
    it is known as <a href="https://fairbydesign.com/povertypremium/" target="_blank">"poverty premium"</a>.
</p>
<p>
    SimpleX platform protects the privacy of your connections better than any alternative,
    fully preventing your social graph becoming available to any companies or organizations.
    Even when people use servers provided by SimpleX Chat, we do not know the number of users or their connections.
</p>
