<p>
    Not so long ago we observed the major elections being manipulated
    by <a href="https://en.wikipedia.org/wiki/Facebook–Cambridge_Analytica_data_scandal" target="_blank">a reputable consulting company</a>
    that used our social graphs to distort our view of the real world and manipulate our votes.
</p>
<p>
    To be objective and to make independent decisions
    you need to be in control of your information space.
    It is only possible if you use private communication platform
    that does not have access to your social graph.
</p>
<p>
    SimpleX is the first platform that doesn't have any user identifiers by design,
    in this way protecting your connections graph better than any known alternative.
</p>
