---
permalink: feed.atom
eleventyExcludeFromCollections: true
metadata:
    title: SimpleX Chat Blog
    subtitle: It allows you to stay up to date with the latest Blogs from SimpleX Chat.
    language: en
    url: https://simplex.chat/
    author:
        name: SimpleX Chat
        email: chat@simplex.chat
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
    <id>{{ metadata.url }}</id>
    <link type="text/html" rel="alternate" href="{{ metadata.url }}"/>
    <link type="application/atom+xml" rel="self" href="{{ permalink | absoluteUrl(metadata.url) }}"/>
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <updated>{{ collections.blogs | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for blog in collections.blogs | reverse %}
    {%- if not blog.data.draft %}
        {%- set absolutePostUrl = blog.data.permalink | absoluteUrl(metadata.url) %}
        <entry>
            <id>{{ blog.data.permalink | absoluteUrl(metadata.url) }}</id>
            <!-- <updated>{{ blog.data.date.toUTCString().split(' ').slice(1, 4).join(' ') }}</updated> -->
            <updated>{{ blog.data.date | dateToRfc3339 }}</updated>
            <link rel="alternate" type="text/html" href="{{ absolutePostUrl }}"/>
            <title>{{ blog.data.title }}</title>
            <content type="html">{{ blog.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
            <author>
                <name>{{ metadata.author.name }}</name>
                <email>{{ metadata.author.email }}</email>
            </author>
        </entry>
    {%- endif %}
    {%- endfor %}
</feed>