<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/tailwind.css" rel="stylesheet" />
        {# <link href="/css/blogs.css" rel="stylesheet" /> #}
        <link href="/css/style.css" rel="stylesheet" />
        <title>Blogs</title>
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico">
    </head>
    <body class="bg-white dark:bg-[#0C0B13]">
        {% include "navbar.html" %}

        <section class="py-10 px-5">
            <div class="container">
                <p class="text-[38px] text-center font-bold text-active-blue mb-9">Latest news</p>

                {% for blog in collections.blogs %}
                <article class="w-full flex flex-col md:flex-row rounded-[4px] overflow-hidden shadow-[0px_20px_30px_rgba(0,0,0,0.12)] mb-8">
                    <div class="min-h-[200px] h-full md:w-[168px] bg-[#D9E7ED] dark:bg-[#17203D] flex items-center justify-center flex-[1]">
                        <img class="h-[44px] dark:hidden" src="/img/new/logo-symbol-light.svg" alt="" srcset="">
                        <img class="h-[44px] hidden dark:inline-block" src="/img/new/logo-symbol-dark.svg" alt="" srcset="">
                    </div>
                    <div class="p-6 md:py-8 flex-[2.5] flex flex-col bg-white dark:bg-[#11182F]">
                        <div>
                            <h1 class="text-grey-black dark:text-white text-lg md:text-xl font-bold ">{{ blog.data.title }}</h1>
                            <p class="text-sm text-[#A8B0B4] font-medium mt-2 mb-4 tracking-[0.03em]">{{ blog.data.date.toUTCString().split(' ').slice(0, 4).join(' ') }}</p>
                        </div>
                        <a class="block text-primary-light dark:text-[#70F0F9] text-base font-medium tracking-[0.03em] mt-auto" href="{{ blog.url }}">Read More</a>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>

        {% include "footer.html" %}
    </body>
</html>
