---
permalink: feed.rss
eleventyExcludeFromCollections: true
metadata:
    title: SimpleX Chat Blog
    subtitle: It allows you to stay up to date with the latest Blogs from SimpleX Chat.
    language: en
    url: https://simplex.chat/
    author:
        name: SimpleX Chat
        email: chat@simplex.chat
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }}</title>
        <link>{{ metadata.url }}</link>
        <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml"/>
        <description>{{ metadata.subtitle }}</description>
        <language>{{ metadata.language }}</language>
        {%- for blog in collections.blogs %}
        {%- if not blog.data.draft %}
            {%- set absolutePostUrl = blog.url | absoluteUrl(metadata.url) %}
            <item>
                <title>{{ blog.data.title }}</title>
                <link>{{ absolutePostUrl }}</link>
                <description>{{ blog.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
                {# <description>{{ blog.templateContent | striptags | truncate(200) }}</description> #}
                {# <pubDate>{{ blog.data.date | dateToRfc822 }}</pubDate> #}
                <pubDate>{{ blog.data.date.toUTCString().split(' ').slice(1, 4).join(' ') }}</pubDate>
                <dc:creator>{{ metadata.author.name }}</dc:creator>
                <guid isPermaLink="false">{{ absolutePostUrl }}</guid>
            </item>
        {%- endif %}
        {%- endfor %}
    </channel>
</rss>