<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Simplex Chat</title>
    <link rel="stylesheet" href="/css/design3.css">
    <script src="/js/flag-anchor.js"></script>
</head>

<body>
    <header id="navbar">
        <a class="logo" href="/"><img src="/img/design_3/logo-light.png" alt="logo" /></a>
        {# <a href="/" class="hidden dark:inline-block dark:lg:hidden lg:hidden ltr:mr-auto rtl:ml-auto"><img class="h-[32px]" src="/img/new/logo-symbol-dark.svg" alt="" srcset=""></a> #}
        
        <nav id="menu">
            <ul>
                <li class="nav-link">
                    <a href="/{{ '' if lang == 'en' else lang }}">
                        <span class="nav-link-text">{{ "home" | i18n({}, lang ) | safe }}</span>
                    </a>                        
                </li>

                <hr>

                <li class="nav-link">
                    <a href="javascript:void(0);">
                        <span class="">{{ "guide" | i18n({}, lang ) | safe }}</span>
                        <span href="" id="btn-mobile">
                            <svg viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.50447 0.902966C1.21571 0.627397 0.747525 0.627397 0.458761 0.902966C0.169996 1.17853 0.169996 1.62532 0.458761 1.90089L4.21933 5.48961C4.25543 5.52406 4.29433 5.5542 4.33533 5.58003C4.62234 5.76088 5.01237 5.73074 5.26504 5.48961L9.02561 1.90089C9.31438 1.62532 9.31438 1.17853 9.02561 0.902966C8.73685 0.627397 8.26867 0.627397 7.97991 0.902966L4.74219 3.99273L1.50447 0.902966Z"/>
                            </svg>
                        </span>
                    </a>

                    <ul class="sub-menu">
                        {% for guide in guide_dropdown.items %}
                            <li><a href="{{ guide.url | url }}" class="{{ "active" if page.url == guide.url | url else '' }}">{{ guide.title | i18n({}, lang ) | safe }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <hr>

                <li class="nav-link">
                    <a href="javascript:void(0);">
                        <span class="">{{ "reference" | i18n({}, lang ) | safe }}</span>
                        <span href="" id="btn-mobile">
                            <svg viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.50447 0.902966C1.21571 0.627397 0.747525 0.627397 0.458761 0.902966C0.169996 1.17853 0.169996 1.62532 0.458761 1.90089L4.21933 5.48961C4.25543 5.52406 4.29433 5.5542 4.33533 5.58003C4.62234 5.76088 5.01237 5.73074 5.26504 5.48961L9.02561 1.90089C9.31438 1.62532 9.31438 1.17853 9.02561 0.902966C8.73685 0.627397 8.26867 0.627397 7.97991 0.902966L4.74219 3.99273L1.50447 0.902966Z"/>
                            </svg>
                        </span>
                    </a>

                    <ul class="sub-menu">
                        <li><a href="https://github.com/simplex-chat/simplexmq/blob/stable/protocol/overview-tjr.md"
                            target="_blank">Whitepaper
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15"><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path> <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                        </a></li>
                        <li><a href="/privacy">{{ "terms-and-privacy-policy" | i18n({}, lang ) | safe }}</a></li>
                        <li><a href="https://github.com/simplex-chat/simplexmq/blob/stable/protocol/simplex-messaging.md"
                            target="_blank">{{ "smp-protocol" | i18n({}, lang ) | safe }}
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15"><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path> <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                        </a></li>
                        <li><a href="/docs/protocol/simplex-chat.html">{{ "chat-protocol" | i18n({}, lang ) | safe }}</a></li>
                        <li><a href="/docs/glossary.html">{{ "glossary" | i18n({}, lang ) | safe }}</a></li>
                        
                        <hr>
                        
                        {% for doc in docs_dropdown.items %}
                            <li><a href="{{ doc.url | url }}" class="{{ "active" if page.url == doc.url | url else '' }} lg:px-[20px] inline-block whitespace-nowrap">{{ doc.title | i18n({}, lang ) | safe }}</a></li>
                        {% endfor %}

                        <hr>

                        <li><a href="/docs/translations.html"
                        >{{ "docs-dropdown-7" | i18n({}, lang ) | safe }}
                        </a></li>
                        <li><a href="/docs/android.html"
                        >{{ "docs-dropdown-2" | i18n({}, lang ) | safe }}
                        </a></li>
                        <li><a href="https://github.com/simplex-chat/simplex-chat/blob/stable/apps/simplex-bot-advanced/Main.hs"
                            target="_blank">{{ "chat-bot-example" | i18n({}, lang ) | safe }}
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15"><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path> <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                        </a></li>
                        <li><a href="https://github.com/simplex-chat/simplex-chat/tree/stable/packages/simplex-chat-client/typescript"
                            target="_blank">TypeScript SDK
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15"><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path> <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                        </a></li>
                        <li><a href="/docs/cli.html">{{ "terminal-cli" | i18n({}, lang ) | safe }}</a></li>
                        <li><a href="https://github.com/simplex-chat/simplexmq"
                            target="_blank">SimpleXMQ
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15"><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path> <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                        </a></li>
                    </ul>
                </li>

                <hr>

                <li class="nav-link">
                    <a href="/jobs">
                        <span class="nav-link-text">{{ "jobs" | i18n({}, lang ) | safe }}</span>
                    </a>                        
                </li>

                <hr>

                <li class="nav-link">
                    <a href="/blog">
                        <span class="nav-link-text">{{ "blog" | i18n({}, lang ) | safe }}</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="right-links">
            <button href="#" class="theme-switch-btn">
                <img src="/img/design_3/sun.svg"  alt="" srcset="" class="sun">
                <img src="/img/new/moon.svg" alt="" srcset="" class="moon hidden">
            </button>

            <div class="nav-link flag-container">
                <a href="javascript:void(0);">
                    {% for language in languages.languages %}
                        {% if language.label == page.url | getlang %}
                            <p style="text-align:center;">{{ language.label }}</p>
                            <svg viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.50447 0.902966C1.21571 0.627397 0.747525 0.627397 0.458761 0.902966C0.169996 1.17853 0.169996 1.62532 0.458761 1.90089L4.21933 5.48961C4.25543 5.52406 4.29433 5.5542 4.33533 5.58003C4.62234 5.76088 5.01237 5.73074 5.26504 5.48961L9.02561 1.90089C9.31438 1.62532 9.31438 1.17853 9.02561 0.902966C8.73685 0.627397 8.26867 0.627397 7.97991 0.902966L4.74219 3.99273L1.50447 0.902966Z"/>
                            </svg>
                        {% endif %}
                    {% endfor %}
                </a>
                
                <ul class="sub-menu">
                    {% for language in languages.languages %}
                        {% if language.enabled %}
                            <li>
                                {% if language.flag %}
                                    <a href="{% completeRoute {url:page.url,lang:language.label} %}" class="flag-anchor">
                                        <img src="{{ language.flag }}" alt="" srcset="">
                                        <p>{{ language.name }}</p>
                                    </a>
                                {% else %}
                                    <a href="{% completeRoute {url:page.url,lang:language.label} %}" class="flag-anchor">
                                        <div style="background-color:{{ language.iconBg }}; color:{{ language.textColor }}; width:21.33px; height:16px">
                                            <p style="text-align:center; font-size:7px">{{ language.iconText }}</p>
                                        </div>
                                        <p>{{ language.name }}</p>
                                    </a>
                                {% endif %} 
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <button id="cross-btn" class="nav-toggle-btn">
                <svg id="cross" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.7973 11.5525L7.59762 6.49833L12.7947 1.44675C13.055 1.19371 13.0658 0.771991 12.8188 0.505331C12.5718 0.238674 12.1602 0.227644 11.8999 0.480681L6.65343 5.58028L1.09979 0.182228C0.839522 -0.070157 0.427909 -0.059127 0.18094 0.207531C-0.0660305 0.474191 -0.0552645 0.895911 0.205003 1.14894L5.70862 6.49833L0.20247 11.851C-0.0577975 12.104 -0.0685635 12.5257 0.178407 12.7924C0.306324 12.9306 0.477936 13 0.650181 13C0.811033 13 0.971873 12.9397 1.09726 12.817L6.65343 7.41639L11.9025 12.5186C12.0285 12.6406 12.1893 12.7015 12.3495 12.7015C12.5218 12.7015 12.6934 12.6321 12.8213 12.4939C13.0689 12.2273 13.0582 11.8062 12.7973 11.5525Z" />
            </svg>
            </button>
        </div>
    </header>
    <div id="mobile-header">
        <a class="logo" href="/"><img src="/img/new/logo-symbol-dark.svg" alt="logo" /></a>

        <button id="hamburger" class="nav-toggle-btn">
            <svg viewBox="0 0 100 80" width="36" height="36">
                <rect width="100" height="15"></rect>
                <rect y="30" width="100" height="15"></rect>
                <rect y="60" width="100" height="15"></rect>
            </svg>
        </button>
    </div>

    <div class="screen">
        <section class="page-1 cover">
            <div class="content">
                <h1>Be<br>Free</h1>
                <h2 class="gradient-text">Freedom & Security<br>of Your Communications</h2>
                <p>The first network where you own<br>your identity, contacts, and groups.</p>
            </div>
            <div class="socials">
                <a class="apple-store-btn hidden" href="https://apps.apple.com/us/app/simplex-chat/id1605771084" target="_blank"><img src="/img/new/apple_store.svg" /></a>
                <a class="google-play-btn hidden" href="https://play.google.com/store/apps/details?id=chat.simplex.app" target="_blank" title="Public iOS preview on TestFlight"><img src="/img/new/google_play.svg" /></a>
                <a class="f-droid-btn hidden" href="{{ '' if lang == 'en' else '/' ~ lang }}/fdroid" title="SimpleX F-Droid Repository"><img src="/img/new/f_droid.svg" /></a>
                <a class="testflight-btn hidden" href="https://testflight.apple.com/join/DWuT2LQu" target="_blank"><img class="no-border" src="/img/design_3/testflight-dark.png" /></a>
                <a class="android-btn hidden" href="https://github.com/simplex-chat/simplex-chat/releases/latest/download/simplex.apk" target="_blank"><img src="/img/design_3/android-dark.png" /></a>
            </div>
        </section>

        <main>
            <div class="section-bg"></div>

            <section class="page-2">
                <div class="image"></div>
                <div class="text-container">
                    <h2>World's Most Secure Messaging</h2>
                    <p>SimpleX messaging has cutting-edge end-to-end encryption.</p>
                    <p>For your security, servers can’t see your messages <span>or who you talk to.</span></p>
                    <a class="gradient-text" href="/learn-more">Learn more about SimpleX messaging</a>
                </div>
            </section>

            <section class="page-3">
                <div class="image"></div>
                <div class="text-container">
                    <h2>You Own<br>The Next Web</h2>
                    <p>SimpleX is founded on the belief that <span>you must own your identity, contacts and communities.</span></p>
                    <p>Open and decentralized network lets you connect with people and share ideas: be free and secure.</p>
                </div>
            </section>

            <section class="page-4">
                <div class="image"></div>
                <div class="text-container">
                    <h2>Communities That Last</h2>
                    <p>You will support your favorite groups with future Community vouchers.</p>
                    <p>Vouchers will pay for servers, to let your communities stay free and independent.</p>
                    <a class="gradient-text" href="/">Learn more about Community Vouchers</a>
                </div>
            </section>

            <section class="page-6">
                <div class="image"></div>
                <div class="text-container">
                    <h2>SimpleX Roadmap to Free Internet</h2>
                    <div class="roadmap">
                        <p>2025 </p>
                        <p class="title"><span>: </span>Scale to Large Communities</p>
                        <p>Escaping centralized platforms</p>
                    </div>
                    <div class="roadmap">
                        <p>2026 </p>
                        <p class="title"><span>: </span>Sustainable Communities & Servers</p>
                        <p>Launching Community Vouchers</p>
                    </div>
                    <div class="roadmap">
                        <p>2027 </p>
                        <p class="title"><span>: </span>Make Your Communities Grow</p>
                        <p>Tools to promote your communities</p>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="/js/design3.js"></script>
    <script>
    (function setVH(){
        const apply = () =>
        document.documentElement.style.setProperty('--vh', (window.innerHeight * 0.01) + 'px');
        apply();
        window.addEventListener('resize', apply);
        window.addEventListener('orientationchange', apply);
    })();

    const nav = document.querySelector('header#navbar');

    (function navColorOnScroll(){
        const header = nav; // same element
        const cover = document.querySelector('.page-1.cover');
        if (!header || !cover || !('IntersectionObserver' in window)) {
            window.addEventListener('load', () => header && document.body.classList.toggle('change-nav-color', window.scrollY > 10));
            window.addEventListener('scroll', () => header && document.body.classList.toggle('change-nav-color', window.scrollY > 10));
            return;
        }
        const io = new IntersectionObserver((entries) => {
            for (const e of entries) {
            // if cover is mostly visible, keep white nav; else switch to #001796
            const onCover = e.isIntersecting && e.intersectionRatio >= 0.55;
            document.body.classList.toggle('change-nav-color', !onCover);
            }
        }, { threshold: [0, 0.55, 1] });
        io.observe(cover);
    })();
    
    window.addEventListener('click',(e)=>{
        if(e.target.closest('.nav-link')){
            if(e.target.closest('.nav-link').classList.contains('active')){
                e.target.closest('.nav-link').classList.remove('active');
            }
            else{
                document.querySelectorAll('.nav-link').forEach(el => el.classList.remove('active'))
                e.target.closest('.nav-link').classList.add('active');
            }
        }
        else if(e.target.closest('.nav-toggle-btn')){
            document.body.classList.toggle('lock-scroll');
            if(nav.classList.contains('open')){
                nav.classList.remove('open');
            }
            else{
                nav.classList.add('open');
            }
        }
        // else if(e.target.closest('.theme-switch-btn')){
        //     themeSwitch();
        // }
    });
    </script>
    <script>
    (function imageBasedTypographyBG(){
    // Desktop only to avoid clashing with mobile font rules
    const mql = window.matchMedia('(min-width: 768px)');

    function urlFromBG(el){
        const bg = getComputedStyle(el).backgroundImage; // url("...") or none
        if (!bg || bg === 'none') return null;
        const m = bg.match(/url\((['"]?)(.*?)\1\)/);
        return m ? m[2] : null;
    }

    const sizeCache = new Map();
    function getImgSize(url){
        return new Promise(resolve => {
        if (sizeCache.has(url)) return resolve(sizeCache.get(url));
        const im = new Image();
        im.onload = () => {
            const out = { w: im.naturalWidth || 1, h: im.naturalHeight || 1 };
            sizeCache.set(url, out);
            resolve(out);
        };
        im.onerror = () => resolve({ w: 1, h: 1 });
        im.src = url;
        });
    }

    async function setVars(){
        if (!mql.matches) return; // desktop only
        const secs = document.querySelectorAll('main section');
        for (const sec of secs) {
        const imgBox = sec.querySelector('.image');
        const tc     = sec.querySelector('.text-container');
        if (!imgBox || !tc) continue;

        const url = urlFromBG(imgBox);
        if (!url) continue; // no background set

        const { w: iw, h: ih } = await getImgSize(url);
        const ratio = iw / ih;             // image aspect ratio (width/height)

        const cw = sec.clientWidth;        // section width
        const ch = sec.clientHeight;       // section height

        // Background-size: contain geometry
        const drawnW = Math.min(cw, ch * ratio);
        const drawnH = drawnW / ratio;     // equivalently Math.min(ch, cw / ratio)

        // Expose to CSS on this section's text container
        tc.style.setProperty('--imgW', drawnW + 'px');
        tc.style.setProperty('--imgH', drawnH + 'px');
        const gutter = Math.max(0, (cw - drawnW) / 2);
        tc.style.setProperty('--imgGutter', gutter + 'px');

        // Convert old width-based constants to height-based using current ratio
        tc.style.setProperty('--h2k', (0.046  * ratio).toFixed(6));  // for h2
        tc.style.setProperty('--pk',  (0.0145 * ratio).toFixed(6));  // for p, a
        }
    }

    window.addEventListener('load', setVars);
    window.addEventListener('resize', setVars);
    window.addEventListener('orientationchange', setVars);
    })();
    </script>
</body>

</html>
