@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyRegular/font.woff2") format("woff2"), url("webFonts/GilroyRegular/font.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyLight/font.woff2") format("woff2"), url("webFonts/GilroyLight/font.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyMedium/font.woff2") format("woff2"), url("webFonts/GilroyMedium/font.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyBold/font.woff2") format("woff2"), url("webFonts/GilroyBold/font.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyRegularItalic/font.woff2") format("woff2"), url("webFonts/GilroyRegularItalic/font.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 0.003em;
}

/* #comparison::before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 120px;
  visibility: hidden;
  pointer-events: none;
} */

/* .nav-button-active{
    background-color: #00C8FB;
    color: #fff;
} */

/* NEW SITE */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  /* padding: 0 20px; */
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.gradient-text {
  background: -webkit-linear-gradient(to bottom, #53C1FF -50%, #0053D0 160%);
  background: linear-gradient(to bottom, #53C1FF -50%, #0053D0 160%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.dark .border-gradient {
  background:
    linear-gradient(#11182F, #11182F) padding-box,
    linear-gradient(to bottom, transparent, #01F1FF 58%) border-box;
  border: 1px solid transparent;
}

.dark .only-light {
  display: none;
}

.only-dark {
  display: none;
}

.dark .only-dark {
  display: inherit;
}

.dark .unique-swiper .border-gradient{
  background:
    linear-gradient(#0C0B13, #0C0B13) padding-box,
    linear-gradient(to bottom, transparent, #01F1FF 58%) border-box;
  border: 1px solid transparent; 
}

@media (min-width:1024px) {
  .nav-link-text {
    position: relative;
    color: #0D0E12;
  }

  .nav-link-text::before,
  .active .nav-link-text::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    right: 0;
    /* background-color: initial; */
    transition: width 0.25s ease-out;
  }

  .active .nav-link-text::before {
    width: 100%;
  }

  .nav-link:hover .nav-link-text::before {
    width: 100%;
    left: 0;
    right: auto;
  }
}


.sub-menu {
  visibility: hidden;
  opacity: 0;
  color: #505158;
}

.dark .sub-menu {
  color: #fff;
}

.dark .sub-menu li:hover {
  color: #66D9E2;
}

.sub-menu li:hover {
  color: #0053D0;
}

.sub-menu {
  transition: all .3s ease !important;
}

.nav-link span svg,
header nav {
  transition: all 0.5s ease;
}

.nav-link:hover span svg {
  transform: rotate(180deg);
}

@media (min-width:1024px) {

  .nav-link:hover .sub-menu,
  .nav-link:focus-within .sub-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .sub-menu {
    max-height: 0;
    transform: translateY(-10px);
    transition: all .7s ease !important;
  }

  .active .sub-menu {
    max-height: 200px;
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }

  header nav {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }

  header nav.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

.lock-scroll {
  overflow: hidden;
}

/* Swipe Sections */

.hash-number {
  background: linear-gradient(251.16deg, #53C1FF 1.1%, #0053D0 100.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  margin: 0 5px !important;
}
.dark .swiper-pagination-bullet{
  background: #D4D4D433;
  opacity: .8;
}

.swiper-pagination-bullet-active{
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #0197FF !important;
}
.dark .swiper-pagination-bullet-active{
  background-color: #70F0F9 !important;
}

.swiper-button-next,
.swiper-button-prev {
  height: 35px;
  width: 35px;
}

.swiper-button-disabled {
  display: none;
}

.unique-swiper .swiper-slide,
.unique-swiper .swiper-wrapper{
  height: inherit;
}

.swiper-scrollbar-horizontal {
  margin-top: 40px !important;
  width: 300px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}

.swiper-scrollbar-drag {
  background-color: #0197FF;
}
.dark .swiper-scrollbar-drag{
  background-color: #70F0F9;
}

/* What makes simplex private */
.card{
  cursor: pointer;
}

.card, 
.card > div:nth-child(2),
.card > div:nth-child(1) {
  transition: all .5s ease;
}

.card > div:nth-child(2) > *:nth-child(2),
.card > div:nth-child(2) > *:nth-child(3) {
  opacity: 0;
  max-height: 0;
  transform: translateY(20px);
  transition: all .5s ease-out;
}
.card > div:nth-child(2) > *:nth-child(3) {
  transform: translateY(40px);
}

.card:hover > div:nth-child(1) {
  height: 200px;
  padding: 12px 10px;
}
.card:hover > div:nth-child(2) {
  height: 270px;
  padding: 8px 24px;
}
.card.card-active > div:nth-child(2) {
  height: 470px;
}

.card:hover > div:nth-child(2) > *:nth-child(2),
.card:hover > div:nth-child(2) > *:nth-child(3),
.card.card-active > div:nth-child(2) > *:nth-child(2),
.card.card-active > div:nth-child(2) > *:nth-child(3) {
  opacity: 1;
  max-height: 470px;
  transform: translateY(0px);
}

.card:not(.no-hover):hover > div:nth-child(2) > *:nth-child(3){
  opacity: 0;
}


/* SimpleX Unique */
.simplex-unique-card .card-content{
  transition: all .5s ease-out;
}
@media (max-width: 768px) {
  .simplex-unique-card .card-content .content-body{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(80px);
    transition: all .7s ease;
  }
  .simplex-unique-card.active-card .card-content .content-body{
    max-height: 540px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
  .simplex-unique-card.active-card .card-content{
    height: 540px;
  }
  .open-card-btn svg,
  .close-card-btn svg{
    transition: all .5s ease;
  }
  .open-card-btn:hover svg,
  .close-card-btn:hover svg{
    transform: rotate(180deg);
  }
}


/* comparison */
#comparison table td,
#comparison table th {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.47px;
}


/* hero */
header{
  transition: all .7s ease;
}

.primary-header {
  /* font-weight: 700; */
  /* font-size: 55px; */
  /* line-height: 63px; */
  background: linear-gradient(270deg, #0053D0 35.85%, #0197FF 94.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 74px #e9e7e2;
}

.dark .primary-header{
  background: linear-gradient(270deg,#70F0F9 100%, #70F0F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: none;
}

.secondary-header {
  /* width: 499px;
  height: 86px; */
  /* font-family: "Gilroy";
  font-style: normal; */
  /* font-weight: 700;
  font-size: 38px;
  line-height: 43px; */
  color: #606c71;
  text-shadow: 0px 4px 74px #e9e7e2;
}

.dark .secondary-header{
  color: #fff;
  text-shadow: none;
}

.hero-phone-background {
  background-image: url("/img/new/bg_gfx.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* position: fixed; */

  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
#hero-phone-light, #hero-phone-dark {
  position: relative;
  animation-name: none;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#hero-phone-video {
  position: absolute;
  /* display: none; */
  /* top: 6.5%; */
  /* left: 29.5%; */
  width: 218px;
  height: 475px;

  border-radius: 12px;
  animation-name: none;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes small {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.66);
  }
}
@keyframes big {
  0% {
    transform: scale(0.66);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes bigvideo {
  0% {
    transform: scale(0.66);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tablet-hero-phone-background {
  background-image: url("../Images/bg_gfx.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 40%;
  top: 5%;
  left: 30%;
}
.tablet-hero-phone {
  transform: skewY(25deg);
}
.hero-video-phone-container {
  /* display: none; */
}
.static-phone-tablet {
  /* display: none; */
}
.static-phone-mobile {
  /* display: none; */
}
@media (max-width: 768px) {
  .landing-page-header {
    /* text-align: center;
    justify-content: center;
    height: fit-content; */
  }
  .landing-page-header-div:nth-child(1) {
    /* justify-content: center;
    justify-items: center;
    height: fit-content;
    align-items: center; */
  }
  .landing-page-second-header-div {
    /* justify-content: start; */
  }
  .landing-page-second-header-div > article > .primary-header {
    /* font-size: 30px;
    line-height: normal; */
  }
  .hero-phone-background {
    /* display: none; */
  }
  .primary-header {
    /* text-align: center;
    font-size: 50px; */
  }
  .header-description {
    /* text-align: center; */
  }
  .hero-video-phone-container {
    /* display: block; */
  }
  .static-phone-tablet {
    /* display: block; */
    /* width: 80%; */
  }
  #hero-video-phone-Background {
    /* position: relative; */
  }
  #hero-video-phone {
    /* position: absolute;
    top: 105%;
    left: 36.3%;
    width: 26.8%;
    height: 42.5%;

    border-radius: 12px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%; */
  }
  .nav-elements {
    /* display: none; */
  }
}
@media (max-width: 425px) {
  .static-phone-tablet {
    /* display: none; */
  }
  .static-phone-mobile {
    /* width: 100%;

    display: block; */
  }
  body {
    /* width: fit-content; */
  }
  #hero-video-phone-Background {
    /* display: none; */
  }
  .hero-video-phone-container {
    /* margin-left: 0%;
    width: 100%; */
  }
  #hero-video-phone {
    /* position: relative;

    width: 100%;
    left: 0%;
    top: 0;
    border-radius: 0%; */
  }
}

/* Overlays */
.overlay a{
  color: #0053D0;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.dark .overlay a{
  color: #70F0F9;
}