{# join simplex #}
<section class="bg-primary-bg-light dark:bg-primary-bg-dark py-[85px] px-5">
    <div class="container flex flex-col items-center">
        <p class="text-[35px] lg:text-[45px] text-grey-black dark:text-white text-center font-bold mb-4"><span class="text-active-blue">Join</span> SimpleX</p>
        <p class="text-black dark:text-white text-base text-center mb-10">We invite you to join the conversion</p>

        <div class="flex flex-col items-center gap-5 self-stretch mb-10">
            <a href="#" class="flex items-center justify-center h-11 w-full max-w-[294px] font-medium text-base rounded-[34px] tracking-[0.02em] text-primary-light dark:text-primary-dark dark:bg-primary-bg-dark dark:border-primary-dark dark:border bg-[#D9ECFF]">Join the REDDIT community</a>
            <a href="#" class="flex items-center justify-center h-11 w-full max-w-[294px] font-medium text-base rounded-[34px] tracking-[0.02em] text-primary-light dark:text-primary-dark dark:bg-primary-bg-dark dark:border-primary-dark dark:border bg-[#D9ECFF]">Join us on GitHub</a>
            <a href="#" class="flex items-center justify-center h-11 w-full max-w-[294px] font-medium text-base rounded-[34px] tracking-[0.02em] text-primary-light dark:text-primary-dark dark:bg-primary-bg-dark dark:border-primary-dark dark:border-none bg-white dark:bg-[rgba(112,240,249,0.2)] border border-[#0053D0]">Donate here to help us</a>
        </div>

        <p class="text-black dark:text-white text-base text-center mb-5">Sign up to receive our updates</p>

        <form class="flex items-center w-full max-w-[540px] mb-4"
            action="https://chat.us2.list-manage.com/subscribe/post?u=ddd892b258ae36e5438e6d4e1&amp;id=ad6037a2fe"
            method="post" target="_blank" novalidate>
            <input name="EMAIL" type="text" class="h-[44px] rounded-l-[34px] bg-transparent border border-primary-light focus:outline-none text-primary-light dark:text-primary-dark text-base w-full max-w-[400px] px-5"
                placeholder="Enter your email address">
            <span style="position: absolute; left: -5000px" aria-hidden="true">
                <input type="text" name="b_ddd892b258ae36e5438e6d4e1_ad6037a2fe" tabindex="-1" value="" />
            </span>
            <input type="submit" class="h-[44px] rounded-r-[34px] bg-primary-light text-white text-center px-8">
        </form>

        <hr class="block my-10 mx-5 dark:opacity-[0.2] w-full">

        <p class="text-black dark:text-white text-center mb-5">Get SimpleX</p>
        <div class="flex items-center justify-center gap-4 flex-wrap">
            <a href="https://apps.apple.com/us/app/simplex-chat/id1605771084" target="_blank"><img class="h-[40px] w-auto" src="/img/new/apple_store.svg" /></a>
            <a href="https://play.google.com/store/apps/details?id=chat.simplex.app" target="_blank" title="Public iOS preview on TestFlight"><img class="h-[40px] w-auto" src="/img/new/google_play.svg" /></a>
            <a href="https://app.simplex.chat" target="_blank" title="SimpleX F-Droid Repository"><img class="h-[40px] w-auto" src="/img/new/f_droid.svg" /></a>
            <a href="https://testflight.apple.com/join/DWuT2LQu" target="_blank"><img class="h-[40px] w-auto" src="/img/new/testflight.png" /></a>
            <a href="https://github.com/simplex-chat/website/raw/master/simplex.apk" target="_blank"><img class="h-[40px] w-auto" src="/img/new/apk_icon.png" /></a>
        </div>
    </div>
</section>