<p>
    When users have persistent identities,
    even if this is just a random number, like a Session ID,
    there is a risk that the provider or an attacker can observe
    how the users are connected and how many messages they send.
</p>
<p>
    They could then correlate this information with the existing
    public social networks, and determine some real identities.
</p>
<p>
    Even with the most private apps that use Tor v3 services,
    if you talk to two different contacts via the same profile
    they can prove that they are connected to the same person.
</p>
<p>
    SimpleX protects against these attacks by not having any
    user IDs in its design. And, if you use Incognito mode,
    you will have a different display name for each contact,
    avoiding any shared data between them.
</p>
