<p>
    You can <strong>use SimpleX with your own servers</strong>
    and still communicate with people who use
    the pre-configured servers provided by us.
</p>
<p>
    SimpleX platform uses an <a href="https://github.com/simplex-chat/simplexmq/blob/stable/protocol/overview-tjr.md" target="_blank">open protocol</a>
    and provides <a href="https://github.com/simplex-chat/simplex-chat/tree/stable/packages/simplex-chat-client/typescript" target="_blank">SDK to create chat bots</a>,
    allowing implementation of services that users can interact with
    via SimpleX Chat apps &mdash; we&apos;re really looking forward to see
    what SimpleX services you can build.
</p>
<p>
    If you are considering developing for the SimpleX platform,
    for example, the chat bot for SimpleX app users, or
    the integration of the SimpleX Chat library into your mobile apps,
    please <a href="https://simplex.chat/contact#/?v=1&smp=smp%3A%2F%2FPQUV2eL0t7OStZOoAsPEV2QYWt4-xilbakvGUGOItUo%3D%40smp6.simplex.im%2FK1rslx-m5bpXVIdMZg9NLUZ_8JBm8xTt%23MCowBQYDK2VuAyEALDeVe-sG8mRY22LsXlPgiwTNs9dbiLrNuA7f3ZMAJ2w%3D" target="_blank">get in touch</a>
    for any advice and support.
</p>
