<p>
    SimpleX Chat stores all user data only on client devices
    using a <strong>portable encrypted database format</strong>
    that can be exported and transferred to any supported device.
</p>
<p>
    The end-to-end encrypted messages are held temporarily
    on SimpleX relay servers until received,
    then they are permanently deleted.
</p>
<p>
    Unlike federated networks servers (email, XMPP or Matrix),
    SimpleX servers don&apos;t store user accounts,
    they only relay messages, protecting the privacy of both parties.
</p>
<p>
    There are no identifiers or ciphertext in common
    between sent and received server traffic &mdash;
    if anybody is observing it, they cannot easily determine
    who communicates with whom, even if TLS is compromised.
</p>
