<p>
    Unlike other messaging platforms, SimpleX has <strong>no identifiers assigned to the users</strong>.
    It does not rely on phone numbers, domain-based addresses (like email or XMPP),
    usernames, public keys or even random numbers to identify its users &mdash;
    we don&apos;t know how many people use our SimpleX servers.
</p>
<p>
    To deliver messages SimpleX uses
    <a href="https://csrc.nist.gov/glossary/term/Pairwise_Pseudonymous_Identifier">pairwise anonymous addresses</a>
    of unidirectional message queues, separate for received and sent messages,
    usually via different servers.
    Using SimpleX is like having <strong>a different &ldquo;burner&rdquo; email or phone
    for each contact</strong>, and no hassle to manage them.
</p>
<p>
    This design protects the privacy of who you are communicating with,
    hiding it from SimpleX platform servers and from any observers.
    To hide your IP address from the servers, you can <strong>connect to SimpleX servers via Tor</strong>.
</p>
