<p>
    {{ "simplex-network-overlay-card-1-p-1" | i18n({}, lang ) | safe }}
</p>
<ol style="list-style: auto; padding-left: 1em;">
    <li>
        {{ "simplex-network-overlay-card-1-li-1" | i18n({}, lang ) | safe }}
    </li>
    <li>
        {{ "simplex-network-overlay-card-1-li-2" | i18n({}, lang ) | safe }}
    </li>
    <li>
        {{ "simplex-network-overlay-card-1-li-3" | i18n({}, lang ) | safe }}
    </li>
    <li>
        {{ "simplex-network-overlay-card-1-li-4" | i18n({}, lang ) | safe }}
    </li>
    <li>
        {{ "simplex-network-overlay-card-1-li-5" | i18n({}, lang ) | safe }}
    </li>
    <li>
        {{ "simplex-network-overlay-card-1-li-6" | i18n({}, lang ) | safe }}
    </li>
</ol>