<p>
    {% getValue {url:pageUrl,key:"simplex-network-overlay-card-1-p-1"} %}
</p>
<ol style="list-style: auto; padding-left: 1em;">
    <li>
        {% getValue {url:pageUrl,key:"simplex-network-overlay-card-1-li-1"} %}
    </li>
    <li>
        {% getValue {url:pageUrl,key:"simplex-network-overlay-card-1-li-2"} %}
    </li>
    <li>
        {% getValue {url:pageUrl,key:"simplex-network-overlay-card-1-li-3"} %}
    </li>
    <li>
        {% getValue {url:pageUrl,key:"simplex-network-overlay-card-1-li-4"} %}
    </li>
    <li>
        {% getValue {url:pageUrl,key:"simplex-network-overlay-card-1-li-5"} %}
    </li>
    <li>
        {% getValue {url:pageUrl,key:"simplex-network-overlay-card-1-li-6"} %}
    </li>
</ol>