[Desktop Entry]
Type=Application
Terminal=false
Name=SimpleX Chat
Comment=A private and encrypted messenger without any user ID
Keywords=chat;message;private;secure;simplex;
Categories=Utility;Chat;InstantMessaging;
Exec=simplex %U
Icon=chat.simplex.simplex
StartupWMClass=simplex-chat
