<footer>
    <div class="container">
        <img alt="simplex logo" class="logo d-none-992" src="/img/simplex.svg" />
        <p class="copyright">
            &#169; 2020-22 SimpleX | Open-Source Project <span class="d-none-576">|</span>
            <a class="d-none-576" href="https://github.com/simplex-chat" target="_blank"><img
                    src="/img/icons/github.svg" /></a>
            <a class="d-none-576" href="https://www.reddit.com/r/SimpleXChat/" target="_blank"><img
                    src="/img/icons/reddit.svg" /></a>
            <a class="d-none-576" href="https://twitter.com/simplexchat" target="_blank"><img
                    src="/img/icons/twitter.svg" /></a>
            <a class="d-none-576" href="https://www.linkedin.com/company/simplex-chat/" target="_blank"><img
                    src="/img/icons/linkedin.svg" /></a>
            <a class="d-none-576" href="mailto:chat@simplex.chat" target="_blank"><img src="/img/icons/email.svg" /></a>
        </p>
        <div class="github d-none-992">
            <a class="github-button" href="https://github.com/simplex-chat/protocol" data-size="large"
                data-show-count="true" aria-label="Star simplex-chat on GitHub">Star</a>
        </div>
    </div>
</footer>
