<div class="first-two-sections ">
    <div class="container flex relative justify-between">
        <div class="">
            <section class="h-full lg:h-[calc(100vh-66px)]  m-auto flex items-center justify-between landing-page-header bg-green-400">
                <div class="h-[inherit] flex flex-col items-start justify-around landing-page-header-div">
                    <img class="static-phone-tablet" src="/img/new/phone1_0036.png" alt="" style="background-image: url(/img/new/bg_gfx.png) ; background-repeat: no-repeat; background-position: center;background-size: contain;">
                    <img class="static-phone-mobile" src="/img/new/phone1_0036mobile.png" alt="" style="background-image: url(/img/new/bg_gfx.png) ; background-repeat: no-repeat; background-position: center;background-size: contain;">
        
                    <article class="w-full max-w-[500px] landing-page-header-article">
                        <p class="primary-header mb-[25px]">Privacy redefined</p>
                        <p class="secondary-header mb-[25px] leading-[43px] tracking-[0.01em]">The first messanger without user IDs</p>
                        <p class="text-justify mb-[25px] leading-[24px] text-[16px] header-description">
                            SimpleX network has no user indentifiers (not ever random numbers),
                            as all the other apps do, including WhatsApp, Telegram, Signal,
                            Matrix, Session, Briar, Jami, Speek, Cwtch, etc.
                        </p>
                        <a href="" class="underline text-[#0053D0] block leading-[34px] text-[16px] underline-offset-2">How does it work?</a>
                        <a href="" class="underline text-[#0053D0] block leading-[34px] text-[16px] underline-offset-2">How user IDs reduce privacy and anonymity?</a>
                    </article>
                    <article>
                        <p class="text-[16px] leading-[26px] mb-[11px]">Get SimpleX</p>
                        <div class="h-[40px] flex gap-4">
                            <a href="#"><img class="h-full w-auto" src="/img/new/apple-store-btn.png" alt=""/></a>
                            <a href="#"><img class="h-full w-auto" src="/img/new/play-store-btn.png" alt=""/></a>
                            <a href="#"><img class="h-full w-auto" src="/img/new/f-droid-btn.png" alt=""/></a>
                            <a href="#"><img class="h-full w-auto extra-icons" src="/img/new/test-flight.png" alt=""/></a>
                            <a href="#"><img class="h-full w-auto extra-icons" src="/img/new/apk.png" alt=""/></a>
                        </div>
                    </article>
                </div> 
            </section>
        
            <section class="h-screen m-auto flex items-center justify-between landing-page-header">
                <div class="h-[inherit] flex flex-col items-start landing-page-second-header-div justify-around">
                    <div class="hero-video-phone-container">
                        <img id="hero-video-phone-Background" src="/img/new/fastImages/Lightphone1_0020.png" />
                        {# <iframe id="hero-video-phone" src="https://www.youtube.com/embed/2IbRtjez6ag" title="Foodies Carpool Show ft WildLens By Abrar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
                    </div>
        
                    <article class="w-full max-w-[500px] landing-page-header-article">
                        <p class="primary-header mb-[25px] font-medium">
                            Create one to one encrypted connections with QR codes
                        </p>
                        <p class="text-justify mb-[25px] leading-[24px] text-[16px] header-description">
                            SimpleX network has no user indentifiers (not ever random numbers),
                            as all the other apps do, including WhatsApp, Telegram, Signal,
                            Matrix, Session, Briar, Jami, Speek, Cwtch, etc.
                        </p>
                    </article>
                </div>
            </section>
        </div>
    
        <div class="hero-phone-background hidden h-fit sticky top-[132px] w-[550px] bg-yellow-300 flex items-center justify-center">
            <img id="hero-phone" class="block"/>
            <div id="hero-phone-preload" style="display: none"></div>
            {# <img class="" src="/img/new/phone_pane.png" alt=""> #}
            <iframe class="hidden" id="hero-phone-video" src="https://www.youtube.com/embed/2IbRtjez6ag" title="Foodies Carpool Show ft WildLens By Abrar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<script>
    var navBar = document.querySelector("nav");
    var landingPageHeader = document.querySelector('.landing-page-header');
    //landingPageHeader.style.height = window.innerHeight - navBar.offsetHeight + 'px';

    // event listener for changing height of section according to window height
    //window.addEventListener('resize', function () {
    //    landingPageHeader.style.height = window.innerHeight - navBar.offsetHeight + 'px';
    //});

</script>