<header class="bg-white dark:bg-black">
    <div class="flex items-center justify-end m-auto container h-[66px]">
        <a href="#" class="hidden h-full py-4 lg:inline-block mr-auto"><img class="w-auto h-[32px]" src="/img/new/logo.png" alt="logo" /></a>
        <a href="" class="lg:hidden mr-auto"><img class="h-[32px]" src="/img/new/logo-symbol-light.svg" alt="" srcset=""></a>
        
        <nav class="bg-[#F0F1F2] lg:bg-white fixed top-[66px] left-0 right-0 bottom-0 lg:top-0 lg:relative" id="menu">
            <div class="flex flex-col lg:flex-row justify-between lg:items-center gap-10 container h-full">
                <ul class="flex flex-col lg:flex-row lg:items-center gap-3 py-4 lg:py-0 lg:gap-10">
                    
                    <li href="#" class="nav-link relative active">
                        <a href="javascript:void(0);" class="flex items-center justify-between gap-2 lg:py-5">
                            <span class="text-[16px] leading-[26px] tracking-[0.01em] nav-link-text">Home</span>
                            <span href="" id="btn-mobile" class="flex items-center justify-center h-[36px] w-[36px] lg:h-auto lg:w-auto mt-1 lg:hidden">
                                <img src="/img/new/union.svg" />
                            </span>
                        </a>
                        
                        <ul class="flex flex-col items-start gap-2 lg:h-fit lg:absolute lg:bg-white top-full lg:mt-[10px] lg:py-4 min-w-[180px] rounded-md lg:shadow-[0_0_3px_rgb(60_72_88_/_15%)] sub-menu lg:hidden">
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Why SimpleX</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Features</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX privacy</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX network</a></li>
                        </ul>
                    </li>

                    <hr>

                    <li href="#" class="nav-link relative">
                        <a href="javascript:void(0);" class="flex items-center justify-between gap-2 lg:py-5">
                            <span class="text-[16px] leading-[26px] tracking-[0.01em]">Developers</span>
                            <span href="" id="btn-mobile" class="flex items-center justify-center h-[36px] w-[36px] lg:h-auto lg:w-auto mt-1">
                                <img src="/img/new/union.svg" />
                            </span>
                        </a>
                        
                        <ul class="flex flex-col items-start gap-2 lg:h-fit lg:absolute lg:bg-white top-full lg:mt-[10px] lg:py-4 min-w-[180px] rounded-md lg:shadow-[0_0_3px_rgb(60_72_88_/_15%)] sub-menu">
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Why SimpleX</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Features</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX privacy</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX network</a></li>
                        </ul>
                    </li>

                    <hr>

                    <li href="#" class="nav-link relative">
                        <a href="javascript:void(0);" class="flex items-center justify-between gap-2 lg:py-5">
                            <span class="text-[16px] leading-[26px] tracking-[0.01em]">Reference</span>
                            <span href="" id="btn-mobile" class="flex items-center justify-center h-[36px] w-[36px] lg:h-auto lg:w-auto mt-1">
                                <img src="/img/new/union.svg" />
                            </span>
                        </a>
                        
                        <ul class="flex flex-col items-start gap-2 lg:h-fit lg:absolute lg:bg-white top-full lg:mt-[10px] lg:py-4 min-w-[180px] rounded-md lg:shadow-[0_0_3px_rgb(60_72_88_/_15%)] sub-menu">
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Why SimpleX</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Features</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX privacy</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX network</a></li>
                        </ul>
                    </li>

                    <hr>

                    <li href="#" class="nav-link relative">
                        <a href="javascript:void(0);" class="flex items-center justify-between gap-2 lg:py-5">
                            <span class="text-[16px] leading-[26px] tracking-[0.01em] nav-link-text">Blog</span>
                            <span href="" id="btn-mobile" class="flex items-center justify-center h-[36px] w-[36px] lg:h-auto lg:w-auto mt-1 lg:hidden">
                                <img src="/img/new/union.svg" />
                            </span>
                        </a>
                        
                        <ul class="flex flex-col items-start gap-2 lg:h-fit lg:absolute lg:bg-white top-full lg:mt-[10px] lg:py-4 min-w-[180px] rounded-md lg:shadow-[0_0_3px_rgb(60_72_88_/_15%)] sub-menu lg:hidden">
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Why SimpleX</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">Features</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX privacy</a></li>
                            <li><a href="/" class="py-[10px] lg:px-[20px]">SimpleX network</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="inline-block self-center text-white text-[16px] font-medium tracking-[0.02em] rounded-[34px] bg-[#0053D0] py-3 lg:py-2 px-20 lg:px-5 mb-16 lg:mb-0">Get Simplex</a>
            </div>
        </nav>

        <button href="#" class="flex items-center justify-center h-[36px] w-[36px] ml-10">
            <img src="/img/new/sun.svg" alt="" srcset="" class="hidden">
            <img src="/img/new/moon.svg" alt="" srcset="">
        </button>

        <button href="" id="btn-mobile" class="flex lg:hidden items-center justify-center h-[36px] w-[36px] ml-10 nav-toggle-btn">
            <img src="/img/new/hamburger.svg" id="hamburger" alt="" srcset="">
            <img src="/img/new/cross.svg" id="cross" alt="" srcset="" class="hidden">
        </button>
    </div>
    

    <!-- <nav class="absolute z-[10000] bg-white top-0 right-0 bottom-0 left-0">
        <div class="flex items-center justify-between h-[78px] m-auto container">
            <a href="">
                <img src="/img/new/logo-symbol-light.svg" alt="" srcset="">
            </a>

            <div class="flex items-center gap-[18px]">
                <button href="" class="flex items-center justify-center h-[36px] w-[36px]">
                    <img src="/img/new/to-night-theme-icon.svg" alt="" srcset="">
                </button>
                <button href="" class="flex items-center justify-center h-[36px] w-[36px]">
                    <img src="/img/new/cross.svg" id="cross">
                </button>
            </div>
        </div>
        
        <div class="bg-[#F0F1F2] h-[calc(100vh-78px)] flex flex-col items-center justify-between">
            <div id="navigation" class="container w-full bg-orange-300">  
                <ul class="navigation-menu w-full">
                    <li><a href="index-job.html" class="sub-menu-item">Home</a></li>
                    
                    
                    <li class="has-submenu parent-menu-item">
                        <a href="javascript:void(0)"><p>Candidate</p> <span class="menu-arrow"></span></a>
                        <ul class="submenu">
                            <li><a href="job-candidate-list.html" class="sub-menu-item">Candidate Listing</a></li>
                            <li><a href="job-candidate.html" class="sub-menu-item">Candidate Detail</a></li>
                        </ul>
                    </li>
                    
                    <li class="has-submenu parent-menu-item">
                        <a href="javascript:void(0)">Company</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li><a href="job-company-list.html" class="sub-menu-item">Company Listing</a></li>
                            <li><a href="job-company.html" class="sub-menu-item">Company Detail</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            

            <a href="#" class="inline-block text-white rounded-[34px] bg-[#0053D0] py-3 px-20 mb-16">Get Simplex</a>
        </div>
    </nav> -->
</header>

<SCript>
// Clickable Menu
const nav = document.querySelector('header nav');

if(document.getElementById("navigation")){
    var elements = document.getElementById("navigation").getElementsByTagName("a");
    for(var i = 0, len = elements.length; i < len; i++) {
        elements[i].onclick = function (elem) {
            if(elem.target.getAttribute("href") === "javascript:void(0)") {
                var submenu = elem.target.nextElementSibling;
                submenu.classList.toggle('open');
            }
        }
    }
}
window.addEventListener('click',(e)=>{
    if(e.target.closest('.nav-link')){
        if(e.target.closest('.nav-link').classList.contains('active')){
            e.target.closest('.nav-link').classList.remove('active');
        }
        else{
            document.querySelectorAll('.nav-link').forEach(el => el.classList.remove('active'))
            e.target.closest('.nav-link').classList.add('active');
        }
    }
    else if(e.target.closest('.nav-toggle-btn')){
        if(nav.classList.contains('open')){
            nav.classList.remove('open');
            document.getElementById('hamburger').classList.remove('hidden');
            document.getElementById('cross').classList.add('hidden');
        }
        else{
            nav.classList.add('open');
            document.getElementById('hamburger').classList.add('hidden');
            document.getElementById('cross').classList.remove('hidden');
        }
    }
})

// switch theme

</SCript>