<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:simplex.chat</string>
		<string>applinks:www.simplex.chat</string>
		<string>applinks:simplex.chat?mode=developer</string>
		<string>applinks:*.simplex.im</string>
		<string>applinks:*.simplex.im?mode=developer</string>
		<string>applinks:*.simplexonflux.com</string>
		<string>applinks:*.simplexonflux.com?mode=developer</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.chat.simplex.app</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)chat.simplex.app</string>
	</array>
	<key>com.apple.developer.networking.multicast</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
</dict>
</plist>
