<p><em>"Have you been audited or should we just ignore you?"</em></p>

<p class="mb-[12px]">
    SimpleX Chat security has been assessed by
    <a href="https://www.trailofbits.com/about" target="_blank">Trail of Bits</a>,
    4 issues were identified, and 3 of them are fixed in v4.2.
</p>

<p class="mb-[12px]">The new website is live: <a href="https://simplex.chat">https://simplex.chat</a></p>

<p>v4.2 is released:</p>

<ul>
<li>group links &mdash; admins can create the links for new members to join</li>
<li>auto-accept contact requests + configure whether to accept incognito and welcome message</li>
<li>small things: change group member role, mark chat as unread, send stickers and GIFs from Android keyboards.</li>
<li>manually switch contact or member to another address / server (BETA)</li>
<li>receive files faster (BETA)</li>
</ul>