<p>Added:</p>
<ul>
    <li>encrypted local chat database &mdash; if you already use the app, you can encrypt the database in the app settings</li>
    <li>support for self-hosted WebRTC ICE servers</li>
    <li>improved stability of creating new connections: more reliable groups, files and contacts</li>
    <li>deleting files and media &mdash; for security and to save storage</li>
    <li>For developers &mdash; TypeScript SDK for integrating with SimpleX Chat</li>
    <li>support animated images in Android app</li>
    <li>German language in mobile apps UI</li>
</ul>
