<p>SimpleX Chat November reviews:</p>

<p><a href="https://www.privacyguides.org/real-time-communication/#simplex-chat" target="_blank">Privacy Guides</a> recommendations.</p>
<p><a href="https://www.kuketz-blog.de/simplex-eindruecke-vom-messenger-ohne-identifier/" target="_blank">Review by Mike Kuketz</a>.</p>
<p><a href="https://www.messenger-matrix.de" target="_blank">The messenger matrix</a>.</p>
<p class="mb-[12px]"><a href="https://supernovas.space/detailed_reviews.html#simplex" target="_blank">Supernova review</a> and <a href="https://supernovas.space/messengers.html" target="_blank">messenger ratings</a>.</p>

<p>v4.3 is released:</p>

<ul>
<li>instant voice messages!</li>
<li>irreversible deletion of sent messages for all recipients</li>
<li>improved SMP server configuration and support for server passwords</li>
<li>privacy and security improvements: protect app screen, SimpleX links security, etc.</li>
</ul>
