<p><strong>v5.2 is released:</strong></p>

<ul class="mb-[12px]">
    <li>message delivery receipts! ✅</li>
    <li>filter favorite and unread chats</li>
    <li>better disappearing messages</li>
    <li>prohibit message reactions</li>
    <li><p>more usable groups:</p>
        <ul>
            <li>view full original replied message in info.</li>
            <li>share your address via your chat profile</li>
            <li>search new and existing members</li>
        </ul>
    </li>
    <li><p>stability improvements:</p>
        <ul>
            <li>keep your connections working after restoring from backup.</li>
            <li>restart app (Android) or reconnect servers (iOS)</li>
            <li>more stable connections and message delivery</li>
        </ul>
    </li>
</ul>

<p><strong>Platform evolution:</strong></p>

<ul class="mb-[12px]">
    <li>problems of public groups and their future</li>
    <li>what about read receipts?</li>
</ul>
