<p><strong>v5.4 is released:</strong></p>

<ul class="mb-[12px]">
    <li>Link mobile and desktop apps via secure quantum-resistant protocol. 🔗</li>
    <li><p>Better groups:</p>
        <ul>
            <li>faster to join and more reliable.</li>
            <li>create groups with incognito profile.</li>
            <li>block group members to reduce noise.</li>
            <li>prohibit files and media in a group.</li>
        </ul>
    </li>
    <li>Better calls: faster to connect, with screen sharing on desktop.</li>
    <li>Many other improvements.</li>
</ul>
