<p><strong>v5.3 is released:</strong></p>

<ul class="mb-[12px]">
    <li>new desktop app! 💻</li>
    <li>encrypt locally stored files & media</li>
    <li>directory service and other group improvements</li>
    <li>simplified incognito mode</li>
    <li>better app responsiveness, stability and 40% reduced memory usage.</li>
    <li>new privacy settings: show last messages & save draft.</li>
</ul>

<p>Also, our users added 6 new interface languages - Arabic*, Bulgarian, Finnish, Hebrew*, Thai and Ukrainian.</p>

<p>* Android app only.</p>
