<p><strong>v5.1 is released:</strong></p>

<ul class="mb-[12px]">
    <li>message reactions 🚀</li>
    <li><p>improved messages:</p>
        <ul>
            <li>voice messages up to 5 minutes</li>
            <li>custom time to disappear</li>
            <li>message editing history</li>
        </ul>
    </li>
    <li>new design and customizable themes you can share*!</li>
    <li>self-destruct passcode</li>
</ul>

<p>Also, the app interface is now available in Japanese and Portuguese (Brazil)* - thanks to our users!</p>

<p>* Android app only.</p>
