<p><strong>SimpleX Chat infrastructure on Linode:</strong></p>

<ul class="mb-[12px]">
    <li>free infrastructure.</li>
    <li>SimpleX servers in Linode Marketplace.</li>
    <li>high capacity messaging servers.</li>
</ul>

<p><strong>v5.5 is released:</strong></p>

<ul class="mb-[12px]">
    <li>private notes.</li>
    <li>group history</li>
    <li>simpler UX to connect to other people</li>
    <li>message delivery, battery usage and other improvements</li>
</ul>

<p>Also, the app interface is now available in Hungarian and Turkish - thanks to our users.</p>

<p>SimpleX Chat Android and desktop apps are now available in 20 languages!</p>