<p><strong>SimpleX Chat vision and funding 2.0:</strong> past, present, future.</p>

<p class="mb-[12px]">Announcing the investment from Jack Dorsey and Asymmetric.</p>

<p><strong>v6.0 is released:</strong></p>

<ul class="mb-[12px]">
    <li>Private message routing - enabled by default</li>
    <li>
        <p>New chat experience:</p>
        <ul>
            <li>connect to your friends faster.</li>
            <li>new reachable interface.</li>
            <li>and much more!</li>
        </ul>
    </li>
    <li>Improved networking and battery usage</li>
</ul>