<p>The Wired article by David Gilbert is biased and misleading. By cherry-picking information from the report by the
    Institute for Strategic Dialogue, Wired constructs a skewed narrative, focusing on who uses privacy-preserving
    technologies, ignoring the vital role of privacy in democratic societies. The article fails to mention that SimpleX
    network design and features prioritize privacy and anonymity in order to protect human rights defenders,
    journalists, and everyday users who value their privacy.</p>