<p><strong>Legally binding transparency</strong></p>

<ul class="mb-[12px]">
    <li>We published Transparency Reports, Security Policy, and Frequently Asked Questions, and updated Privacy Policy.</li>
    <li>We are committed to have full consistency between marketing promises and legally binding documents.</li>
</ul>

<p><strong>v5.7 is released:</strong></p>

<ul class="mb-[12px]">
    <li>quantum resistant end-to-end encryption  with all contacts.</li>
    <li>forward and save messages without revealing the source.</li>
    <li>in-call sounds and switching sound sources.</li>
    <li>better network connection management.</li>
    <li>customizable profile images.</li>
</ul>
