<p><strong>SimpleX Chat vision and funding 2.0:</strong> the past, the present, the future</p>

<p><strong>v6.0 is released:</strong></p>

<ul class="mb-[12px]">
    <li>Private message routing - enabled by default</li>
    <li>
        <p>New chat experience:</p>
        <ul>
            <li>connect to your friends faster.</li>
            <li>new reachable interface.</li>
            <li>archive contacts and a new way to start chat.</li>
            <li>moderate like a pro: delete many messages at once.</li>
            <li>and more!</li>
        </ul>
    </li>
    <li>
        <p>New media options:</p>
        <ul>
            <li>play from the chat list.</li>
            <li>blur for better privacy.</li>
            <li>share from other apps.</li>
        </ul>
    </li>
    <li>Improved networking and battery usage</li>
</ul>