<p class="mb-[12px]">This is a major upgrade for SimpleX Chat messaging protocols!</p>

<p class="mb-[12px]">This post also covers various aspects of end-to-end encryption:</p>

<ul>
    <li>Why do we need end-to-end encryption?</li>
    <li>Why encryption is even allowed?</li>
    <li>End-to-end encryption security: attacks and defence.</li>
    <li>How secure is encryption in different messengers?</li>
    <li>When can you start using quantum resistant chats?</li>
    <li>Next for post-quantum crypto - all direct chats, small groups and security audit</li>
</ul>
