<p><strong>v5.8 is released:</strong></p>

<ul class="mb-[12px]">
    <li>private message routing.</li>
    <li>server transparency.</li>
    <li>protect IP address when downloading files & media.</li>
    <li>chat themes* for better conversation privacy.</li>
    <li>group improvements - reduced traffic and additional preferences.</li>
    <li>improved networking, message and file delivery.</li>
</ul>

<p>Also, we added Persian interface language*, thanks to our users and Weblate.</p>

<p>* Android and desktop apps only.</p>