<p class="mb-[12px]">When it comes to open source privacy tools, the status quo often dictates the limitations of
    existing protocols and
    structures. However, these norms need to be challenged to radically shift how we approach genuinely
    private communication. This requires doing some uncomfortable things, like making hard choices as it relates to
    funding, alternative decentralization models, doubling down on privacy over convenience, and more.
</p>

<p class="mb-[12px]">In this post we explain a bit more about why SimpleX operates and makes decisions the way it does:
</p>

<ul class="mb-[12px]">
    <li>No user accounts.</li>
    <li>Privacy over convenience.</li>
    <li>Network decentralization.</li>
    <li>Funding and profitability.</li>
    <li>Company jurisdiction.</li>
</ul>