<p><strong>v6.3 is released:</strong></p>

<ul class="mb-[12px]">
    <li>Preventing spam and abuse in public groups.</li>
    <li>Group improvements: mention other members and improved performance.</li>
    <li>Better chat navigation: organize chats into lists and jump to found and forwarded messages.</li>
    <li>Privacy and security improvements: chat retention period and private media file names.</li>
</ul>

<p>Also, we added Catalan interface language, thanks to our users and Weblate.</p>

<p>The last but not the least - server builds are now reproducible!</p>
