<p><strong>v6.4.1 is released:</strong></p>

<ul class="mb-[12px]">
    <li>welcome your contacts: set your profile bio and welcome message.</li>
    <li>protect your communities from spam and abuse: review new members ("knocking").</li>
    <li>set default time to delete messages for new contacts.</li>
    <li>improved app integrity: Linux app builds are now reproducible.</li>
</ul>

<p>Also, we added 3 new interface languages to Android and desktop apps thanks to our users: Indonesian, Romanian and Vietnamese.</p>
