<div>
  <h3 class="font-bold text-lg mb-2">{{ "file-proto-h-1" | i18n({}, lang) | safe }}</h3>
  <p>{{ "file-proto-p-1" | i18n({}, lang) | safe }}</p>
</div>
<div>
  <h3 class="font-bold text-lg mb-2">{{ "file-proto-h-2" | i18n({}, lang) | safe }}</h3>
  <p>{{ "file-proto-p-2" | i18n({}, lang) | safe }}</p>
</div>
<div>
  <h3 class="font-bold text-lg mb-2">{{ "file-proto-h-3" | i18n({}, lang) | safe }}</h3>
  <p>{{ "file-proto-p-3" | i18n({}, lang) | safe }}</p>
</div>
<div>
  <h3 class="font-bold text-lg mb-2">{{ "file-proto-h-4" | i18n({}, lang) | safe }}</h3>
  <p>{{ "file-proto-p-4" | i18n({}, lang) | safe }}</p>
</div>
<div>
  <h3 class="font-bold text-lg mb-2">{{ "file-proto-h-5" | i18n({}, lang) | safe }}</h3>
  <p>{{ "file-proto-p-5" | i18n({}, lang) | safe }}</p>
</div>
<p class="mt-4">
  <a href="https://github.com/simplex-chat/simplexmq/blob/stable/protocol/xftp.md" target="_blank" rel="noopener" class="text-active-blue hover:underline">
    {{ "file-proto-spec" | i18n({}, lang) | safe }}
  </a>
</p>
