<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleX blog: {{ title }}</title>
    <meta name="Content-Type" content="text/html;charset=utf-8" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ permalink }}" />
    {% if image %}
      <meta property="og:image" content="./images/20220511-images-files.png" />
    {% else %}
      <meta property="og:image" content="https://simplex.chat/img/share_simplex.png" />
    {% endif %}
    <meta name="twitter:card" content="summary" />
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/blog.css" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body class="bg-[#F3F6F7] dark:bg-[#0C0B13]">
    {% include "navbar.html" %}

    <div class="container px-5">
      <a class="inline-block text-grey-black dark:text-white my-5 underline underline-offset-2" href="/blog"><&nbsp;Back to list</a>
    </div>

    <section id="article" class="container mb-[75px] bg-white dark:bg-[#17203D] px-5">
      <div class="py-6 md:p-[60px]">{{ content | safe }}</div>
    </section>

    {% include "footer.html" %}
  </body>

</html>
