<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="Content-Type" content="text/html;charset=utf-8"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{% cfg 'siteLocation' %}/img/share_simplex.png"/>
        <meta name="twitter:card" content="summary"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico"/>
        <meta http-equiv="refresh" content="0; url={{ groupLink }}" />
    </head>
    <body>
        <p><a href="{{ groupLink }}">{{ groupLinkText }}</a></p>
    </body>
</html>
