<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/animation.js"></script>
</head>
<body>
    <section class="w-full bg-transparent fixed top-0 z-50">
        {% include "navbar.html" %}
    </section>
    
    {% include "hero.html" %}

    {{ content | safe }}
    
    {% include "footer.html" %}

    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>