<!DOCTYPE html>
<html lang="{{ page.url | getlang }}"
    {% for language in languages.languages %}
        {% if language.label == page.url | getlang %}
            dir="{{ "rtl" if language.rtl else "ltr" }}"
        {% endif %}
    {% endfor %}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="Content-Type" content="text/html;charset=utf-8"/>
        {% if path %}
        <meta http-equiv="onion-location" content="{% cfg 'onionLocation' %}{{ path }}" />
        <meta property="og:url" content="{% cfg 'siteLocation' %}{{ path }}" />
        {% else %}
        <meta http-equiv="onion-location" content="{% cfg 'onionLocation' %}/" />
        <meta property="og:url" content="{% cfg 'siteLocation' %}/" />
        {% endif %}
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{% cfg 'siteLocation' %}/img/share_simplex.png"/>
        <meta name="twitter:card" content="summary"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico"/>

        <link rel="stylesheet" href="/css/swiper-bundle.min.css">
        <link href="/css/tailwind.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/style.css">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="/js/flag-anchor.js"></script>
        {% block js_scripts %}{% endblock %}
    </head>
    <body class="bg-white dark:bg-[#0C0B13]">
        <section class="w-full bg-transparent fixed top-0 z-50">
            {% include "navbar.html" %}
        </section>

        {{ content | applyGlossary | safe }}

        {% include "footer.html" %}

        <script src="/js/animation.js"></script>
        <script src="/js/swiper-bundle.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
