name: Build Eleventy

on:
  push:
    branches:
      - master
    paths:
      - website/**
      - images/**
      - blog/**
      - docs/**
      - .github/workflows/web.yml

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies & build
        run: |
          ./website/web.sh

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./website/_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
